html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.ac .dg li.cr,
.ac .dg li.folder {
  margin-left: 10px;
}

.ac .dg li.title {
  /*border-left: 3px solid #FF6C00;*/
  border-left: 3px solid #ffffff;
}

.ac .dg .c input[type="text"] {
  width: 80px;
}
